<h1>Rekognizing text images</h1>
<h2>Gallery</h2>
<% @text_images.each do |text_image| %>
  <div class="image-tile">
    <img src="<%= url_for(text_image.image.variant(resize: '100x100')) %>">
  </div>
<% end %>

<h2>Upload images with text</h2>
<div>
  <%= form_for TextImage.new, as: :text_image, url: text_rekognitions_path do |f| %>
    <%=f.file_field :image %>
    <%=f.submit :upload %>
  <% end %>
</div>
