<h1>Please choose your recognition:</h1>

<%= link_to 'face',       face_rekognition_path %>
<br>
<%= link_to 'known face', known_face_rekognition_path %>
<br>
<%= link_to 'text',       text_rekognition_path %>