.image-tile {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border: 1px solid #999999;
    margin: 7px;
}

.image-tile img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}